{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<body>

		<div
			class="page-wraper">

			<!-- HEADER START -->
			<header class="site-header header-style-1">
				<div class="sticky-header main-bar-wraper">
					<div class="main-bar bg-white p-t5">
						<div class="container">
							<div class="logo-header">
								<div class="logo-header-inner logo-header-one">
									<a href="index.html">
										<img src="zarzis/images/zarzis_logo.png" alt=""/>
									</a>
								</div>
							</div>
							<!-- NAV Toggle Button -->
							<button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- ETRA Nav -->
							<div class="extra-nav">
								<div class="extra-cell">
									<a href="#" class="contact-slide-show text-white">
										<i class="fa fa-envelope-o"></i>
									</a>
								</div>
								<div class="extra-cell">
									<a href="#search" class=" text-white">
										<i class="fa fa-search"></i>
									</a>
								</div>
								<div class="extra-cell">
									<a href="javascript:;" class="socialicon_show  text-white">
										<i class="fa fa-share-alt"></i>
									</a>
								</div>
							</div>
							<!-- ETRA Nav -->

							<!-- Social Nav -->
							<div class="social_hide">
								<div class="side-social-nav">
									<a href="javascript:void(0)" class="socialicon_close">&times;</a>
									<ul class="list-unstyled">
										<li>
											<a href="javascript:void(0);" class="fa fa-facebook">
												<span class="social-tooltip">Facebook</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0);" class="fa fa-linkedin">
												<span class="social-tooltip">Linkedin</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-google-plus">
												<span class="social-tooltip">Google Plus</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-instagram">
												<span class="social-tooltip">Instagram</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- Contact Nav -->
							<div class="contact-slide-hide">
								<div class="contact-nav">
									<a href="javascript:void(0)" class="contact_close">&times;</a>
									<div class="contact-nav-form p-a30">
										<form class="cons-contact-form" method="post" action="form-handler.php">
											<div
												class="contact-one m-b30">

												<!-- TITLE START -->
												<div class="section-head text-center">
													<h2 class="m-b5" data-title="Form">Get In Touch</h2>
												</div>
												<!-- TITLE END -->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group wt-inputicon-box">
															<input name="username" type="text" required class="form-control" placeholder="Name">
															<i class="fs-input-icon sl-icon-user"></i>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group wt-inputicon-box">
															<input name="email" type="text" class="form-control" required placeholder="Email">
															<i class="fs-input-icon sl-icon-envolope-letter"></i>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group wt-inputicon-box">
															<textarea name="message" rows="3" class="form-control " required placeholder="Message"></textarea>
															<i class="fs-input-icon sl-icon-envolope"></i>
														</div>
													</div>
													<div class="col-md-12">
														<div class="text-center">
															<button name="submit" type="submit" value="Submit" class="btn-half site-button button-lg m-b15">
																<span>Submit</span>
																<em></em>
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
										<div
											class="contact-info text-black m-b30">
											<!-- TITLE START -->
											<div class="section-head text-center">
												<h2 class="m-b5" data-title="Info">Contact Info</h2>
											</div>
											<!-- TITLE END -->
											<ul>
												<li>
													<div class="wt-icon-box-wraper center p-b40">
														<div class="icon-md m-b20">
															<i class="sl-icon-phone"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Phone number</h5>
															<p>(456) 789 10 12</p>
														</div>
													</div>
												</li>

												<li>
													<div class="wt-icon-box-wraper center p-b40">
														<div class="icon-md m-b20">
															<i class="sl-icon-envolope-letter"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Email address</h5>
															<p>demo@gmail.com</p>
														</div>
													</div>
												</li>

												<li>
													<div class="wt-icon-box-wraper center">
														<div class="icon-md m-b20">
															<i class="sl-icon-map"></i>
														</div>
														<div class="icon-content">
															<h5 class="m-t0 font-weight-500">Address info</h5>
															<p>55/11 Land Street, Modern New Yourk City, USA</p>
														</div>
													</div>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- SITE Search -->
							<div id="search">
								<span class="close"></span>
								<form role="search" id="searchform" action="/search" method="get" class="radius-xl">
									<div class="input-group">
										<input value="" name="q" type="search" placeholder="Type to search"/>
										<span class="input-group-btn">
											<button type="button" class="search-btn">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
							<!-- MAIN Vav -->
							<div class="header-nav navbar-collapse collapse">
								<ul class=" nav navbar-nav">
									<li class="active">
										<a href="{{ path('home') }}">LELLA MERIEM
										</a>
										<ul class="sub-menu">
											<li>
												<a href="index.html">About us</a>
											</li>

										</ul>
									</li>
									<li>
										<a href="{{ path('reservation_index') }}">RÉSERVATION
										</a>
										<ul class="sub-menu">
											<li>
												<a href="post-image.html">Search</a>
											</li>

										</ul>
									</li>
									<li class="submenu-direction">
										<a href="{{ path('gallery') }}">GALLERIE
										</a>

									</li>
									<li>
										<a href="{{ path('contact') }}">CONTACT</a>

									</li>
<li>
<a href="#">Login as	</a>
	<ul class="sub-menu">
		<li>
<a href="{{ path('login') }}">Administrator</a>

		</li>
<li>
<a href="{{ path('login') }}">client</a>

</li>

	</ul>
</li>

								</ul>
							</div>

						</div>
					</div>
				</div>
			</header>
			<!-- HEADER END -->

			<!-- CONTENT START -->
			<div
				class="page-content">


				<!-- SLIDER START -->
				<div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="goodnews-header" data-source="gallery" style="background:#eeeeee;padding:0px;">
					<div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
						<ul>
							<!-- SLIDE 1 -->
							<li
								data-index="rs-901" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="zarzis/images/bbbb.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Click" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="zarzis/images/bbbb.jpg" alt="" data-lazyload="zarzis/images/bbbb.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina><!-- LAYERS -->
								<!-- LAYER NR. 0 [ for overlay ] --><div class="tp-caption tp-shape tp-shapewrapper " id="slide-901-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
																		                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 1;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

								<!-- LAYER NR. 1 [ Black Box ] -->
								<div class="tp-caption   tp-resizeme" id="slide-901-layer-1" data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['250','250','250','250']" data-fontsize="['46','46','46','32']" data-lineheight="['56','56','56','50']" data-width="['0','0','0','0']" data-height="['','','','']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div class=" rev-slider-style-1"></div>
								</div>


								<!-- LAYER NR. 2 [ for title ] -->
								<div class="tp-caption   tp-resizeme" id="slide-901-layer-2" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['270','270','270','270']" data-fontsize="['56','56','38','28']" data-lineheight="['66','66','48','38']" data-width="['700','700','96%','96%']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[5,5,5,5]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[20,20,20,20]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div style="font-family: 'DM Serif Text', serif;text-transform:uppercase;">
										<span class="text-primary">
											Vivez bien les vacances</span><br>
										DES APPARTEMENTS CONVIVIALS ET DES PRIX IMBATTABLES
									</div>

								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption tp-resizeme" id="slide-901-layer-3" data-x="['right','right','right','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['400','570','570','180']" data-fontsize="['400','400','400','80']" data-lineheight="['66','66','48','38']" data-width="['800','800','800','800']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['right','right','right','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:rgba(0,0,0,0);">
									<span class="slider-text-outline" style="font-family: 'Roboto', sans-serif;text-transform:uppercase;">01</span>
								</div>

								<!-- LAYER NR. 4 [ for see all service botton ] -->
								<div class="tp-caption tp-resizeme" id="slide-901-layer-4" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['570','570','520','460']" data-lineheight="['none','none','none','none']" data-width="['300','300','300','300']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:13; text-transform:uppercase;"></div>


							</li>


							<!-- SLIDE 2 -->
							<li
								data-index="rs-902" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="zarzis/images/img_slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Click" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="zarzis/images/img_slide1.jpg" alt="" data-lazyload="zarzis/images/img_slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina><!-- LAYERS -->
								<!-- LAYER NR. 0 [ for overlay ] --><div class="tp-caption tp-shape tp-shapewrapper " id="slide-902-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
																		                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 1;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

								<!-- LAYER NR. 1 [ Black Box ] -->
								<div class="tp-caption   tp-resizeme" id="slide-902-layer-1" data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['250','250','250','250']" data-fontsize="['46','46','46','32']" data-lineheight="['56','56','56','50']" data-width="['0','0','0','0']" data-height="['','','','']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div class=" rev-slider-style-1"></div>
								</div>


								<!-- LAYER NR. 2 [ for title ] -->
								<div class="tp-caption   tp-resizeme" id="slide-902-layer-2" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['270','270','270','270']" data-fontsize="['56','56','38','28']" data-lineheight="['66','66','48','38']" data-width="['700','700','96%','96%']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[5,5,5,5]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[20,20,20,20]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div style="font-family: 'DM Serif Text', serif;text-transform:uppercase;">
										<span class="text-primary">Appartements Lella Meriem</span><br>
										Votre partenaire en vacances  Calme et propre  meublés et équipés
									</div>

								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption tp-resizeme" id="slide-902-layer-3" data-x="['right','right','right','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['400','570','570','180']" data-fontsize="['400','400','400','80']" data-lineheight="['66','66','48','38']" data-width="['800','800','800','800']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['right','right','right','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:rgba(0,0,0,0);">
									<span class="slider-text-outline" style="font-family: 'Roboto', sans-serif;text-transform:uppercase;">02</span>
								</div>

								<!-- LAYER NR. 4 [ for see all service botton ] -->
								<div class="tp-caption tp-resizeme" id="slide-902-layer-4" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['570','570','520','460']" data-lineheight="['none','none','none','none']" data-width="['300','300','300','300']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:13; text-transform:uppercase;"></div>

							</li>


							<!-- SLIDE 3 -->
							<li
								data-index="rs-903" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="zarzis/images/img_slide2.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Click" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="zarzis/images/img_slide2.jpg" alt="" data-lazyload="zarzis/images/img_slide2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina><!-- LAYERS -->
								<!-- LAYER NR. 0 [ for overlay ] --><div class="tp-caption tp-shape tp-shapewrapper " id="slide-903-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
																		                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 1;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

								<!-- LAYER NR. 1 [ Black Box ] -->
								<div class="tp-caption   tp-resizeme" id="slide-903-layer-1" data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" data-y="['top','top','top','top']" data-voffset="['250','250','250','250']" data-fontsize="['46','46','46','32']" data-lineheight="['56','56','56','50']" data-width="['0','0','0','0']" data-height="['','','','']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div class=" rev-slider-style-1"></div>
								</div>


								<!-- LAYER NR. 2 [ for title ] -->
								<div class="tp-caption   tp-resizeme" id="slide-903-layer-2" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['270','270','270','270']" data-fontsize="['56','56','38','28']" data-lineheight="['66','66','48','38']" data-width="['700','700','96%','96%']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[5,5,5,5]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[20,20,20,20]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:#fff;
																				                            border-width:0px;">
									<div style="font-family: 'DM Serif Text', serif;text-transform:uppercase;">
										<span class="text-primary">
											Profitez
										</span><br>
										DE NOS MEILLEURS PLANS
									</div>

								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption tp-resizeme" id="slide-903-layer-3" data-x="['right','right','right','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['400','570','570','180']" data-fontsize="['400','400','400','80']" data-lineheight="['66','66','48','38']" data-width="['800','800','800','800']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['right','right','right','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;
																				                            white-space: normal;
																				                            font-weight: 900;
																				                            color:rgba(0,0,0,0);">
									<span class="slider-text-outline" style="font-family: 'Roboto', sans-serif;text-transform:uppercase;">03</span>
								</div>

								<!-- LAYER NR. 4 [ for see all service botton ] -->
								<div class="tp-caption tp-resizeme" id="slide-903-layer-4" data-x="['left','left','left','left']" data-hoffset="['40','40','40','40']" data-y="['top','top','top','top']" data-voffset="['570','570','520','460']" data-lineheight="['none','none','none','none']" data-width="['300','300','300','300']" data-height="['none','none','none','none']" data-whitespace="['normal','normal','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[
																		                            {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
																		                            {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
																		                            ]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:13; text-transform:uppercase;">
									<a href="javascript:;" class="site-button slider-btn-left btn-half">
										<span>
											More About</span>
										<em></em>
									</a>
								</div>


							</li>

						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div>
				<!-- SLIDER END -->

				<!--BOOKING SECTION START-->
				<div class="section-full p-t25 booking-bar">
					<div class="container">
						<div class="booking-bar-inner bg-primary">
							<div class="booking-fram-name">
								<h3 class="m-a0">Book A Room</h3>
							</div>
							<div class="booking-form">
								<form>
									<ul>
										<li class="date-cal-block">
											<div class="form-group clearfix">
												<label>In-Out Time</label>
												<div class="t-datepicker">
													<div class="t-check-in form-control"></div>
													<div class="t-check-out form-control"></div>
												</div>
											</div>
										</li>

										<li class="room-type-block">
											<div class="form-group">
												<label>Room Type</label>
												<div class="select-box">
													<select class="form-control" name="room">
														<option selected="selected" disabled="disabled">Single room</option>
														<option value="Single">Single room</option>
														<option value="Double">Double Room</option>
														<option value="Deluxe">Deluxe room</option>
													</select>
												</div>
											</div>
										</li>

										<li class="adult-type-block">
											<div class="form-group">
												<label>Adult</label>
												<div class="select-box">
													<select class="form-control" name="No-adult">
														<option selected="selected" disabled="disabled">Adult</option>
														<option value="one">1</option>
														<option value="two">2</option>
														<option value="three">3</option>
													</select>
												</div>
											</div>
										</li>

										<li class="children-type-block">
											<div class="form-group">
												<label>Childrens</label>
												<div class="select-box">
													<select class="form-control" name="No-children">
														<option selected="selected" disabled="disabled">Childrens</option>
														<option value="one">1</option>
														<option value="two">2</option>
														<option value="three">3</option>
													</select>
												</div>
											</div>
										</li>

										<li class="booking-form-btn-block">
											<div class="form-group">
												<button type="submit" class="site-button-secondry btn-half">
													<span>
														CHECK AVAILABILITY</span>
													<em></em>
												</button>
											</div>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--BOOKING SECTION END-->

				<!-- WELCOME SECTION START -->
				<div class="section-full p-tb90 bg-white overflow-hide">

					<div class="container">
						<div class="section-content">

							<div class="row">

								<div
									class="col-md-6 col-sm-12 text-black">
									<!-- TITLE START -->
									<div class="section-head text-left">
										<h2 class=" m-b5" data-title="About">About Lella Meriem</h2>
										<div class="wt-separator-outer">
											<div class="wt-separator bg-primary"></div>
										</div>
									</div>
									<!-- TITLE END -->
									<h4 class=" m-t0">Sur les côtes ocre du sud Tunisien,
									</h4>
									<p>
										ZARZIS, l'une des plus anciennes cités méditerranéennes, elle jouit d’un climat exceptionnel,
									</p>

									<div class="row equal-wraper">
										<div class="col-md-6 col-sm-6 m-b30">
											<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
												<div class="icon-md m-b20">
													<span class="icon-cell">
														<i class="flaticon-room-service v-icon"></i>
													</span>
												</div>
												<div class="icon-content">
													<h4 class="wt-tilte">Restaurants</h4>
													<p>Des restaurants avec un large choix à quelques mètres</p>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-sm-6 m-b30">
											<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
												<div class="icon-md m-b20">
													<span class="icon-cell">
														<i class="flaticon-stones v-icon"></i>
													</span>
												</div>
												<div class="icon-content">
													<h4 class="wt-tilte ">Piscine commune</h4>
													<p>A l’intérieur, il se trouve des allées piétonnières  et une piscine commune.</p>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-sm-6  m-b30">
											<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
												<div class="icon-md m-b20">
													<span class="icon-cell">
														<i class="flaticon-wifi v-icon"></i>
													</span>
												</div>
												<div class="icon-content">
													<h4 class="wt-tilte ">Parkings
													</h4>
													<p>
														Des bâtiments contournée par des parkings sécurisés
													</p>
												</div>
											</div>
										</div>

										<div class="col-md-6 col-sm-6  m-b30">
											<div class="wt-icon-box-wraper left bg-gray p-a20 hover-box-effect v-icon-effect  equal-col">
												<div class="icon-md m-b20">
													<span class="icon-cell">
														<i class="flaticon-cards v-icon"></i>
													</span>
												</div>
												<div class="icon-content">
													<h4 class="wt-tilte ">
														Zone touristique
													</h4>
													<p>
														Située au cœur de la zone touristique de la région
													</p>
												</div>
											</div>
										</div>
									</div>
									<a href="javascript:void(0);" class="btn-half site-button button-lg m-b30">
										<span>EN SAVOIR PLUS</span>
										<em></em>
									</a>
								</div>

								<div class="col-md-6 col-sm-12">
									<div class="home-about-block-outer bg-repeat bg-white" style="background-image:url(images/background/bg-dot.jpg);">
										<div class="home-about-block-inner">
											<div class="home-about-slider owl-carousel owl-btn-vertical-center">

												<div class="item">
													<div class="home-about-slider-pic">
														<img src="zarzis/images/salon2.jpg" alt="">
													</div>
												</div>
												<div class="item">
													<div class="home-about-slider-pic">
														<img src="zarzis/images/piscine_prive.jpg" alt="">
													</div>
												</div>
												<div class="item">
													<div class="home-about-slider-pic">
														<img src="zarzis/images/parking.jpg" alt="">
													</div>
												</div>
												<div class="item">
													<div class="home-about-slider-pic">
														<img src="zarzis/images/plage.jpg" alt="">
													</div>
												</div>
												<div class="item">
													<div class="home-about-slider-pic">
														<img src="zarzis/images/lella_night.jpg" alt="">
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- WELCOME  SECTION END -->

				<!-- ROOMS SLIDER START -->
				<div class="section-full p-tb90 bg-gray">
					<div
						class="container">

						<!-- TITLE START -->
						<div class="section-head text-center">
							<h2 class="m-b5" data-title="Lella Meriem">Meilleurs Appartements</h2>
							<div class="wt-separator-outer">
								<div class="wt-separator bg-primary"></div>
							</div>
						</div>
						<!-- TITLE END -->

						<div class="text-center">
							<ul class="btn-filter-wrap2">
								<li class="btn-filter btn-active" data-filter="*">All Rooms</li>
								<li class="btn-filter" data-filter=".col-1">Classic</li>
								<li class="btn-filter" data-filter=".col-1">Superior</li>
								<li class="btn-filter" data-filter=".col-3">Delux</li>
								<li class="btn-filter" data-filter=".col-4">Executive
								</li>
							</ul>
						</div>
					</div>

					<div
						class="container-fluid">
						<!-- IMAGE CAROUSEL START -->
						<div class="section-content">
							<div
								class="owl-carousel owl-carousel-filter2 owl-btn-bottom-center">
								<!-- COLUMNS 1 -->
								<div class="item col-1">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/img_1215_scaled.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App. Rez de Chaussée Bougainvillier</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$40 /night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														100m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														5
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO
											</span>
											<em></em>
										</a>
									</div>
								</div>

								<!-- COLUMNS 2 -->
								<div class="item col-2">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/img_1103_scaled.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App. 1er étage Bougainvillier</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$90 /night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														80m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														3
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO
											</span>
											<em></em>
										</a>
									</div>
								</div>

								<!-- COLUMNS 3 -->
								<div class="item col-3">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/bbbb.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App. rez de chaussée Jasmin</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$100/night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														150m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														6
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO
											</span>
											<em></em>
										</a>
									</div>
								</div>

								<!-- COLUMNS 4 -->
								<div class="item col-4">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/ff.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App. Rez de Chaussée Bougainvillier</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$20/night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														30m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														1
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO
											</span>
											<em></em>
										</a>
									</div>
								</div>

								<!-- COLUMNS 5 -->
								<div class="item col-3">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/img_1103_scaled.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App. Rez de Chaussée
													</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$700/night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														60m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														4
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO</span>
											<em></em>
										</a>
									</div>
								</div>

								<!-- COLUMNS 6 -->
								<div class="item col-2">
									<div class="room-rent-section-outer">
										<div class="room-rent-section">
											<div class="rooms-pic-section">
												<div class="wt-media">
													<img style="widht:100px;height:300px;" src="zarzis/images/dji_0942_scaled.jpg" alt="">
													<div class="overlay-bx-3"></div>
													<h3 class="m-b0 wt-title">App jasmin
													</h3>
												</div>

											</div>
											<div class="room-info-section text-black">
												<span>$50/night</span>
												<ul class="clearfix">
													<li>
														<i class="fa fa-expand"></i>
														<strong>Size:</strong>
														55m²
													</li>
													<li>
														<i class="fa fa-user"></i>
														<strong>Adult:</strong>
														2
													</li>
													<li>
														<i class="fa fa-eye"></i>
														<strong>View:</strong>
														balcony
													</li>
												</ul>
											</div>
										</div>
										<a href="room-detail.html" class="btn-half site-button button-lg">
											<span>FULL INFO
											</span>
											<em></em>
										</a>
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>
				<!-- ROOMS  SLIDER END -->

				<!-- OUR BLOG START -->
				<div class="section-full p-t80 p-b50 bg-white">

					<div
						class="container">

						<!-- TITLE START -->
						<div class="section-head text-left">
							<h2 class="m-b5" data-title="Appartment">Our Latest Appartment</h2>
							<div class="wt-separator-outer">
								<div class="wt-separator bg-primary"></div>
							</div>
						</div>
						<!-- TITLE END -->

						<!-- IMAGE CAROUSEL START -->
						<div class="section-content">


							<div class="row">

								<div class="col-md-6 col-sm-6">
									<div class="blog-post latest-blog-1 date-style-2">
										<div class="wt-post-media wt-img-effect zoom-slow">
											<a href="javascript:;"><img style=" height:350px;" src="zarzis/images/zeze.jpg" alt=""></a>
										</div>
										<div class="wt-post-info">
											<div class="post-date">
												<strong>20 Mar 2019
												</strong>
											</div>

											<div class="wt-post-meta">
												<ul class="clearfix">
													<li class="post-author">
														<div class="post-author-pic">
															<span><img src="zarzis/images/img_1103_scaled.jpg" alt=""></span>
															<span>
																<strong>
																	By</strong>
																<a href="javascript:;">Zarzis Holiday</a>
															</span>
														</div>
													</li>
													<li class="post-comment">
														<i class="fa fa fa-comments text-primary"></i>
														<a href="javascript:;">10 Comment</a>
													</li>
												</ul>
											</div>

											<div class="wt-post-title">
												<h3 class="post-title">
													<a href="javascript:;">Your first source for architecture, dsign and art news.</a>
												</h3>
											</div>

											<div class="wt-post-text">
												<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusd veritatis quisquam laboriosam asperiores, tenetur, blanditiis,quaerat odit ex exercitationem pariatur.</p>
											</div>

											<div class="readmore-line">
												<a href="javascript:;" class="site-button-ink text-primary font-weight-900 ">Read More</a>
											</div>

										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="blog-post latest-blog-1 date-style-2">
										<div class="wt-post-media wt-img-effect zoom-slow">
											<a href="javascript:;"><img style=" height:350px;"src="zarzis/images/bbbb.jpg" alt=""></a>
										</div>
										<div class="wt-post-info">
											<div class="post-date">
												<strong>20 Mar 2019
												</strong>
											</div>

											<div class="wt-post-meta">
												<ul class="clearfix">
													<li class="post-author">
														<div class="post-author-pic">
															<span><img   src="zarzis/images/img_1103_scaled.jpg" alt=""></span>
															<span>
																<strong>
																	By</strong>
																<a href="javascript:;">Zarzis Holidays</a>
															</span>
														</div>
													</li>
													<li class="post-comment">
														<i class="fa fa fa-comments text-primary"></i>
														<a href="javascript:;">10 Comment</a>
													</li>
												</ul>
											</div>

											<div class="wt-post-title">
												<h3 class="post-title">
													<a href="javascript:;">Your first source for architecture, dsign and art news.</a>
												</h3>
											</div>

											<div class="wt-post-text">
												<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusd veritatis quisquam laboriosam asperiores, tenetur, blanditiis,quaerat odit ex exercitationem pariatur.</p>
											</div>

											<div class="readmore-line">
												<a href="javascript:;" class="site-button-ink text-primary font-weight-900 ">Read More</a>
											</div>

										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- OUR BLOG END -->
				 
			                   <!-- YOUTUBE VIDEO WITH POPUP -->
                                    <div class="m-b30">
                                        <!-- TITLE START -->
                                        <div class="section-head">
                                            <h2 class=" m-b5">Video Youtube with popup</h2>
                                            <div class="wt-separator-outer">
                                                <div class="wt-separator bg-primary"></div>
                                            </div>
                                        </div>
                                        <!-- TITLE END -->                                        
                                        <div class="wt-box">
										
                                            <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom yt-thum-box">
                                                <img src="zarzis/images/dji_0942_scaled.jpg" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <a class="mfp-video" href="https://www.youtube.com/watch?v=KdDKU0GNbAM">
                                                            <i class="fa fa-play wt-icon-box-xs"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							 
            <!-- OUR SPECIALLIZATION START -->
            <div class="section-full bg-change-section overlay-wraper p-tb80"   data-toggle="tab-hover">
                <div class="overlay-main bg-black opacity-06"></div>
                <div class="bg-changer">
                    <div  class=" section-bg active" style="background-image:url("images/background/room.jpg")"></div>
                    <div  class="section-bg" style="background-image:url("images/background/appartment.jpg")"></div>
                    <div  class="section-bg" style="background-image:url("images/background/architecture.jpg")"></div> 
                    <div  class="section-bg" style="background-image:url("images/background/interior.jpg")"></div> 
                </div>
                                          
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-left">
                        <h2 class="m-b5 text-white" data-title="Specialization">Our Specialization</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->                                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-part-left ">
                            	<div class="text-white">
                                <h3 class=" m-t0">Discover a hotel that defines a new dimension of luxury.</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferme ntum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. </p>
                                </div>
                                <div class="section-content">
                                    <div class="row">
                                                
                                        <div class="col-md-4 col-sm-4 col-xs-4 col-xs-100pc">
                                            <div class="m-b30 wt-icon-box-wraper">
												<h2 class="text-primary m-b5 font-weight-800"><span class="counter m-r5">406</span><b>+</b></h2>                                            
                                                <h5 class="wt-tilte m-b0 text-white">International Guests</h5>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4 col-xs-4 col-xs-100pc">
                                            <div class="m-b30  wt-icon-box-wraper">
												<h2 class="text-primary m-b5 font-weight-800"><span class="counter m-r5">132</span><b>+</b></h2>                                                
                                                <h5 class="wt-tilte m-b0 text-white">Five stars rating</h5>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4 col-xs-4 col-xs-100pc">
                                            <div class="m-b30 wt-icon-box-wraper">
                                                <h2 class="text-primary m-b5 font-weight-800"><span class="counter m-r5">207</span><b>+</b></h2> 
                                                <h5 class="wt-tilte m-b0 text-white">Served Breakfast</h5>
                                            </div>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row no-col-gap">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                                    <div class="wt-icon-box-wraper p-tb20 center bdr-1 bdr-solid bdr-white  bgcall-block hover-box-effect" >
                                        <div class="icon-md text-primary">
                                            <span class="icon-cell text-white"><i class="flaticon-hotel"></i></span>
                                        </div>
                                        <div class="icon-content text-white">
                                            <h4 class="wt-tilte m-b10">Rooms</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                                    <div class="wt-icon-box-wraper p-tb20 center bdr-1 bdr-solid bdr-white  bgcall-block  hover-box-effect" >
                                        <div class="icon-md text-primary">
                                            <span class="icon-cell text-white"><i class="flaticon-coffee-cup"></i></span>
                                        </div>
                                        <div class="icon-content  text-white">
                                            <h4 class="wt-tilte m-b10">Restaurant</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
                                    <div class="wt-icon-box-wraper p-tb20 center bdr-1 bdr-solid bdr-white  bgcall-block  hover-box-effect">
                                        <div class="icon-md text-primary">
                                            <span class="icon-cell text-white"><i class="flaticon-cheers"></i></span>
                                        </div>
                                        <div class="icon-content  text-white">
                                            <h4 class="wt-tilte m-b10">Luxury Bars</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-sm-6 col-xs-6 col-xs-100pc">
                                    <div class="wt-icon-box-wraper p-tb20 center bdr-1 bdr-solid bdr-white bgcall-block hover-box-effect">
                                        <div class="icon-md text-primary">
                                            <span class="icon-cell text-white"><i class="flaticon-seats-at-the-hall"></i></span>
                                        </div>
                                        <div class="icon-content  text-white">
                                            <h4 class="wt-tilte m-b10">Meeting Hall</h4>
                                        </div>
                                    </div>
                                </div>                                                                                
                            </div>                        
                        </div>
                    </div>                                     
                </div>
            </div>   
            <!-- OUR SPECIALLIZATION END -->

				<!-- OUR SERVICES START -->
				<div class="section-full p-tb80">

					<div
						class="container">
						<!-- TITLE START -->
						<div class="section-head text-left">
							<h2 class="m-b5" data-title="Services">Our Services</h2>
							<div class="wt-separator-outer">
								<div class="wt-separator bg-primary"></div>
							</div>
						</div>
						<!-- TITLE END -->
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-wifi v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Accès direct à la piscine</h4>
										<p>La résidence dispose d'un accès direct et sécurisé par un tunnel à la piscine et la plage de l'hôtel.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-room-service v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Des restaurants à 3 minutes</h4>
										<p> Des restaurants avec un large choix et des salons de thé chaleureux sont à 4 min de votre logement.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-smartphone v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Des balades régulièrement planifiés</h4>
										<p>Des balades sur des quads motos, des carrosses à cheval, des voitures 4X4 et des balades en mer sont planifiées régulièrement.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-business-cards v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Téléviseur disponible</h4>
										<p>Vous trouverez dans l’appartement un téléviseur branché sur plusieurs satellites.
										
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-calendar v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Location des voitures</h4>
										<p>Des agences de location de voitures sont disponibles avec des prix raisonnables.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="wt-icon-box-wraper center bdr-1 bdr-gray-light bdr-solid m-b30 p-a20 hover-box-effect  v-icon-effect">
									<div class="icon-md m-b20">
										<span class="icon-cell">
											<i class="flaticon-time-passing v-icon"></i>
										</span>
									</div>
									<div class="icon-content">
										<h4 class="wt-tilte ">Place Parking</h4>
										<p> Une place de stationnement est garantie pour votre véhicule.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<a href="javascript:void(0);" class="btn-half site-button button-lg m-b15 m-t50">
								<span>View All</span>
								<em></em>
							</a>
						</div>
					</div>
				</div>
				<!-- OUR SERVICES END -->
    
            <!-- TESTIMONIALS SECTION START -->
            <div class="section-full p-t80 p-b80  overlay-wraper" data-stellar-background-ratio="0.5" style="background-image:url(images/background/bg-2.jpg);">
            <div class="overlay-main opacity-05 bg-black"></div>
 
                <div class="container">
                    <div class="section-content">
                    
                        <!-- TITLE START -->
                        <div class="section-head text-left">
                            <h2 class="m-b5 text-white" data-title="Clients">Our Client Says</h2>
                            <div class="wt-separator-outer">
                                <div class="wt-separator bg-primary"></div>
                            </div>
                        </div>
                        <!-- TITLE END --> 
                    
                        <!-- TESTIMONIAL 4 START ON BACKGROUND -->   
                        <div class="section-content">
                            <div class="testimonial-home owl-carousel  owl-btn-top-right">
                                <div class="item">
                                    <div class="testimonial-6">
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="sharan/images/testimonials_pic1.jpg" width="132" height="132" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-text clearfix text-white">
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name m-t0 m-b10">Andi Smith</h4>
                                            </div>
                                            <div class="testimonial-paragraph text-black p-t5">
                                                <p>“Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.</p>
                                            </div>
                                            <div class="testimonial-detail ">
                                            	<span class="testimonial-position">Newyork city</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-6">
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
<img src="sharan/images/testimonials/pic2.jpg" width="132" height="132" alt="">

                                            </div>
                                        </div>
                                        <div class="testimonial-text clearfix text-white">
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name m-t0 m-b10">Poul Anderson</h4>
                                            </div>
                                            <div class="testimonial-paragraph text-black p-t5">
                                                <p>“Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.</p>
                                            </div>
                                            <div class="testimonial-detail ">
                                            	<span class="testimonial-position">Mexico city</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="item">
                                    <div class="testimonial-6">
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
<img src="sharan/images/testimonials/pic3.jpg" width="132" height="132" alt="">

                                            </div>
                                        </div>
                                        <div class="testimonial-text clearfix text-white">
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name m-t0 m-b10">Kayra gray</h4>
                                            </div>
                                            <div class="testimonial-paragraph text-black p-t5">
                                                <p>“Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.</p>
                                            </div>
                                            <div class="testimonial-detail ">
                                            	<span class="testimonial-position">Newyork city</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-6">
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
<img src="sharan/images/testimonials/pic4.jpg" width="132" height="132" alt="">

                                            </div>
                                        </div>
                                        <div class="testimonial-text clearfix text-white">
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name m-t0 m-b10">Anna Smith</h4>
                                            </div>
                                            <div class="testimonial-paragraph text-black p-t5">
                                                <p>“Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.</p>
                                            </div>
                                            <div class="testimonial-detail ">
                                            	<span class="testimonial-position">Newyork city</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- TESTIMONIALS SECTION END --> 

				<!-- OUR TEAM START -->
				<div class="section-full p-t80 p-b80 bg-white">
					<div
						class="container">

						<!-- TITLE START -->
						<div class="section-head text-left">
							<h2 class="  m-b5" data-title="Des adresses">Des adresses</h2>
							<div class="wt-separator-outer">
								<div class="wt-separator bg-primary"></div>
							</div>
						</div>
						<!-- TITLE END -->

						<!-- IMAGE CAROUSEL START -->
						<div class="our-team-two p-lr15">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="wt-team-arc2">

										<div class="wt-media">
											<img src="zarzis/images/fatroucha.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-icon">
													<li>
														<a href="javascript:void(0);" class="fa fa-facebook"></a>
													</li>

													<li>
														<a href="javascript:void(0);" class="fa fa-instagram"></a>
													</li>
												</ul>
											</div>
										</div>

										<div class="wt-info">
											<div class="team-detail  text-center">
												<h4 class="m-t0">Chez Fatroucha</h4>
												<p>Restaurant</p>
											</div>
										</div>

									</div>
								</div>

								<div class="col-md-4 col-sm-6">
									<div class="wt-team-arc2">

										<div class="wt-media">
											<img src="zarzis/images/base_nautique.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-icon">
													<li>
														<a href="javascript:void(0);" class="fa fa-facebook"></a>
													</li>

													<li>
														<a href="javascript:void(0);" class="fa fa-instagram"></a>
													</li>
												</ul>
											</div>
										</div>

										<div class="wt-info">
											<div class="team-detail  text-center">
												<h4 class="m-t0">Base nautique
												</h4>
												<p>Odyssée</p>
											</div>
										</div>

									</div>
								</div>

								<div class="col-md-4 col-sm-12">
									<div class="wt-team-arc2">

										<div class="wt-media">
											<img src="zarzis/images/aqua_parc.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-icon">
													<li>
														<a href="javascript:void(0);" class="fa fa-facebook"></a>
													</li>

													<li>
														<a href="javascript:void(0);" class="fa fa-instagram"></a>
													</li>
												</ul>
											</div>
										</div>

										<div class="wt-info">
											<div class="team-detail  text-center">
												<h4 class="m-t0">Aqua Parc Le pirate</h4>
												<p>Centre de loisir
												</p>
											</div>
										</div>

									</div>
								</div>

							</div>


						</div>
					</div>

				</div>
				<!-- OUR TEAM END -->

			</div>
			<!-- CONTENT END -->

			<!-- FOOTER START -->
			<footer
				class="site-footer footer-large footer-dark	footer-wide">

				<!-- FOOTER BLOCKES START -->
				<div class="footer-top overlay-wraper">
					<div class="overlay-main"></div>
					<div class="container">

						<div class="news-letter-footer">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="newsletter-f-left">
										<h4 class="text-uppercase m-t0 m-b10">Subscribe to our newsletter!</h4>
										<p>Never Miss Anything about us .
										</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="newsletter-f-right text-center">
										<form role="search" method="post">
											<div class="input-group">
												<input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
												<span class="input-group-btn">
													<button type="submit" class="btn-half site-button button-lg">
														<span>Submit</span>
														<em></em>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="m-b10">
							<div class="wt-divider bg-gray-dark"></div>
						</div>
						<div
							class="row">
							<!-- ABOUT COMPANY -->
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div
									class="widget widget_about">
									<!--<h4 class="widget-title">About Company</h4>-->
									<div class="logo-footer clearfix p-b15">
										<a href="index.html"><img src="zarzis/images/zarzis_logo.png" alt=""></a>
									</div>
									<p class="max-w400">MAKE YOUR HOLIDAY BETTER .</p>

									<ul class="social-icons social-tooltips-outer  wt-social-links">
										<li>
											<a href="javascript:void(0);" class="fa fa-facebook">
												<span class="social-tooltips">Facebook</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0);" class="fa fa-linkedin">
												<span class="social-tooltips">Linkedin</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-google-plus">
												<span class="social-tooltips">Google Plus</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="fa fa-instagram">
												<span class="social-tooltips">Instagram</span>
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title">Our location
									</h4>
									<ul>
										<li><a href="about-1.html">zarzis ...</a></li>

									</ul>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title">Useful links</h4>
									<ul>
										<li><a href="about-1.html">About us</a></li>
										<li><a href="post-gallery.html">Reservation</a></li>
										<li><a href="post-gallery.html">Gallery</a></li>
										<li><a href="project-detail.html">Contact</a></li>
									</ul>
								</div>
							</div>


							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="widget widget_services inline-links">
									<h4 class="widget-title"></h4>
									<ul>
										<li><a href="about-1.html"></a></li>
										<li><a href="post-gallery.html"></a></li>
										<li><a href="post-gallery.html"></a></li>
										<li><a href="project-detail.html"></a></li>
									</ul>
								</div>
							</div>
 
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_address_outer">
                                <h4 class="widget-title">Contact Us</h4>
                                <ul class="widget_address">
                                    <li><i class="sl-icon-map text-primary"></i> 92 Princess Road, parkvenue,Greater London, NW18JR, United Kingdom</li>
                                    <li><i class="sl-icon-envolope-letter text-primary"></i>sharandemo@gmail.com</li>
                                    <li><i class="sl-icon-phone text-primary"></i>(+0091) 912-3456-073</li>
                                    <li><i class="sl-icon-printer text-primary"></i>(+0091) 912-3456-084</li>
                                </ul>
                           
                            </div>                                                  
                        </div>              
						</div>
                </div>
            </div>
				<!-- FOOTER COPYRIGHT -->
				<div class="footer-bottom overlay-wraper">
					<div class="overlay-main"></div>
					<div class="container">
						<div class="row">
							<div class="wt-footer-bot-center">
								<p style="color: #ffffff">© 2020. Tous droits réservés. ZARZIS  HOLIDAYS made with ❤ by
									<a style="color: #878787" href="https://www.octaplus-technology.com/">
										Octa+ technology
									</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- FOOTER END -->


			<!-- BUTTON TOP START -->
			<button class="scroltop">
				<span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
			</button>


		</div>

		<!-- LOADING AREA START ===== -->
	<!--	<div class="loading-area">
			<div class="loading-box"></div>
			<div class="loading-pic">
				<div class="cssload-thecube">
					<div class="cssload-cube cssload-c1"></div>
					<div class="cssload-cube cssload-c2"></div>
					<div class="cssload-cube cssload-c4"></div>
					<div class="cssload-cube cssload-c3"></div>
				</div>
			</div>
		</div>
-->

		<!-- STYLE SWITCHER END ==== -->
	</body>
{% endblock %}
