{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ reservation.code }}</td>
            </tr>
            <tr>
                <th>NbrAdulte</th>
                <td>{{ reservation.NbrAdulte }}</td>
            </tr>
            <tr>
                <th>NbrEnfant</th>
                <td>{{ reservation.NbrEnfant }}</td>
            </tr>
            <tr>
                <th>Tarifs</th>
                <td>{{ reservation.tarifs }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ reservation.updatedAt ? reservation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
