{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateFacture</th>
                <th>Note</th>
                <th>PaymentType</th>
                <th>DetailsReservation</th>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.DateFacture ? facture.DateFacture|date('Y-m-d') : '' }}</td>
                <td>{{ facture.note }}</td>
                <td>{{ facture.PaymentType }}</td>
                <td>{{ facture.DetailsReservation }}</td>
                <td>{{ facture.id }}</td>
                <td>{{ facture.createdAt ? facture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.updatedAt ? facture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('facture_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facture_new') }}">Create new</a>
{% endblock %}
