{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{#    <div class="container">#}
{#        <div class="row">#}
    <style>
        .fa-check-circle-o {
            text-shadow: 3px 3px 3px #bac2c1;
            color: #00CC00!important;

        }
        .fa-ban {
            text-shadow: 3px 3px 3px  red;
            color: #F0F0F0!important;
        }
    </style>
    <div class="title text-center"> <h1>User Dashboard </h1></div>
        <div class="container-fluid mb-5 mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th>Validate</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>

{#                            {{ user.roles }}#}

{#                        {% set mappingRoles={"ROLE_ADMIN" : "ADMIN","ROLE_USER" : "USER","ROLE_EDITOR" : "EDITOR"} %}#}
{#                            {% for role  in user.roles  %}#}
{#                                {{ mappingRoles[role] }}#}
{#                                {{ role }}#}
{#                            {% endfor %}#}

{#                            {% set ADMIN="\""~"ROLE_ADMIN"~"\"" %}#}
{#                            {% set USER="\""~"ROLE_USER"~"\"" %}#}
{#                            {% set EDITOR="\""~"ROLE_EDITOR"~"\"" %}#}

{#                            {% set ADMIN="ROLE_ADMIN" %}#}
{#                            {% set USER="ROLE_USER" %}#}
{#                            {% set EDITOR="ROLE_EDITOR" %}#}

{#                            {% if user.roles is same as (ADMIN)  %}#}
{#                                ADMIN#}
{#                            {% endif %}#}
{#                            {% if user.roles is same as (USER)  %}#}
{#                                USER#}
{#                            {% endif %}#}
{#                            {% if user.roles is same as (EDITOR)  %}#}
{#                                EDITOR#}
{#                            {% endif %}#}

{#                        {% set mappingRoles={"ROLE_ADMIN" : "ADMIN","ROLE_USER" : "USER","ROLE_EDITOR" : "EDITOR"} %}#}
                            {% set ADMIN="ROLE_ADMIN" %}
                            {% set USER="ROLE_USER" %}
                            {% set EDITOR="ROLE_EDITOR" %}

                            {% for role  in user.roles %}
                                {% if role is same as (USER) %}
                                    USER
                                {% elseif role is same as (ADMIN) %}
                                    ADMIN
                                {% elseif role is same as (EDITOR) %}
                                    EDITOR
                                {% endif %}
                            {% endfor %}


                        </td>
                        <td>{{ user.adresse }}</td>

                        <td>
                        {% set isValid=user.isValide %}
                        {% if isValid is same as(true) %}
                            <i class="fa fa-check-circle-o" style="font-size:38px;margin-top: -10px"></i>
                        {% else  %}
                            <i class="fa fa-ban" style="font-size:38px;margin-top: -10px"></i>
                        {% endif  %}
                           {#  FaveIcone Sizes  #}
                           {# <i class="fa fa-camera-retro fa-lg"></i> #}
                           {# <i class="fa fa-camera-retro fa-2x"></i>#}
                           {# <i class="fa fa-camera-retro fa-3x"></i> #}
                           {# <i class="fa fa-camera-retro fa-4x"></i> #}
                           {# <i class="fa fa-camera-retro fa-5x"></i> #}
                        </td>

                        <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="17">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('user_new') }}">Create new</a>
        </div>
    </div>

{% endblock %}
