{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    {% set mappingRoles={'ROLE_ADMIN' : 'ADMIN','ROLE_USER' : 'USER','ROLE_EDITOR' : 'EDITOR', 'ROLE_SUPER_ADMIN': 'SUPER ADMIN'} %}
                    {% for role  in user.roles  %}
                        {{ mappingRoles[role] }}
                    {% endfor %}</td>
                </td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>isValide</th>

                <td>
                    {% set isValid=user.isValide %}
                    {% if isValid is same as(true) %}
                    <i class="fa fa-check-circle" style="font-size:38px;color:#0cc745"></i>
                    {% else  %}
                        <i class="fa fa-ban" style="font-size:38px;color:red"></i>
                    {% endif  %}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
{#{% block javascripts %}#}
{#    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>#}
{#    <script>#}
{#        $(function() {#}
{#            $('#toggle-two').bootstrapToggle({#}
{#                on: 'Enabled',#}
{#                off: 'Disabled'#}
{#            });#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}
